<!-- ==============================================
FOOTER
=============================================== -->
<footer id="main-footer" class="color-bg light-typo">

  <div class="container text-center">
    <ul class="social-links">
      <li><a href="http://knut.in/twitter"><i class="fa fa-twitter fa-fw"></i></a></li>
      <li><a href="http://knut.in/+"><i class="fa fa-google-plus fa-fw"></i></a></li>
      <li><a href="http://knut.in/linkedin"><i class="fa fa-linkedin fa-fw"></i></a></li>
    </ul>
  </div>

</footer>


<!-- ==============================================
SCRIPTS
=============================================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>

<script src="/js/libs/bootstrap.min.js"></script>
<script src='/js/jquery.easing.1.3.min.js'></script>
<script src='/js/jquery.scrollto.js'></script>
<script src='/js/jquery.flexslider.min.js'></script>
<script src='/js/jquery.fitvids.js'></script>
<script src='/js/jquery.fittext.js'></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/jquery.easypiechart.js"></script>
<script src="/js/jquery.sequence-min.js"></script>
<script src="/js/jquery.colorbox-min.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/qubico.js"></script>
<script src="/js/social-likes.min.js"></script>
<script src="/js/disqus.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13186236-5']);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- Thank you very much beloved EU for this additional piece of shit. -->
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
  window.cookieconsent_options = {
    "message":"This website uses cookies to ensure you get the best experience on our website",
    "dismiss":"Got it!",
    "learnMore":"More info",
    "link":null,
    "theme":"light-floating"
  };
</script>
<script type="text/javascript" src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
<!-- End Cookie Consent plugin -->

</body>

</html>
