<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<head>

		<!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
		<title>Knut Ahlers - {{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- ==============================================
		Favicons
		=============================================== -->
		<link rel="shortcut icon" href="/assets/favicon.ico">
		<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">

		<!-- ==============================================
		CSS
		=============================================== -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/flexslider.css">
		<link rel="stylesheet" href="/css/sequencejs-qubico.css" />
		<link rel="stylesheet" href="/css/colorbox.css" />
		<link rel="stylesheet" href="/css/qubico.css">
		<link rel="stylesheet" href="/css/qubico-blue.css">
		<link rel="stylesheet" href="/css/qubico-blog.css">
		<link rel="stylesheet" href="/css/custom.css">


		<!-- ==============================================
		Fonts
		=============================================== -->
		<link href='//fonts.googleapis.com/css?family=Dosis:600,700,800' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>

		<!-- ==============================================
		JS
		=============================================== -->

		<!--[if lt IE 9]>
			<script src="js/respond.min.js"></script>
		<![endif]-->

		<script type="text/javascript" src="/js/libs/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4="
            crossorigin="anonymous"></script>

		<link rel="alternate" type="application/rss+xml" title="Knut Ahlers - RSS Feed" href="https://ahlers.me/blog/index.xml" />
		<link rel='index' title='Knuts Ahlers' href='https://ahlers.me/' />

		<meta name="medium" content="blog" />
		<meta property="fb:admins" content="1200183898" />
		<meta property="fb:app_id" content="147660165280007"/>
		<meta property="og:type" content="blog"/>
		<meta property="og:site_name" content="Knut Ahlers"/>

		{{ if .IsPage }}
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    <meta property="og:description" content="{{ .Summary }}"/>

    <meta itemprop="name" content="{{ .Title }}">
    <meta itemprop="description" content="{{ .Summary }}">

    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="{{ .Permalink }}"/>
    {{ end }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css"
          integrity="sha256-Zd1icfZ72UBmsId/mUcagrmN7IN5Qkrvh75ICHIQVTk="
          crossorigin="anonymous" />
	</head>

	<body data-spy="scroll" data-target="#main-nav" data-offset="400">
		<!-- ==============================================
		MAIN NAV
		=============================================== -->
		<div id="main-nav" class="navbar navbar-fixed-top">
			<div class="container">

				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>

					<!-- ======= LOGO ========-->
					<a class="navbar-brand scrollto" href="/#home">
						<span class="logo-small"></span>
						<span class="to-top"><i class="fa fa-arrow-up"></i></span>

						Knut Ahlers

						<!-- ==== Image Logo ==== -->
						<!--<img class="site-logo" src="/assets/logo.png" alt="logo" />-->
					</a>

				</div>

				<div id="site-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="sr-only">
							<a href="/#home" class="scrollto">Home</a>
						</li>
            <li>
							<a href="/#internet" class="scrollto">Social-Media</a>
						</li>
						<li>
							<a href="/#portfolio" class="scrollto">Projects</a>
						</li>
						<li>
							<a href="/#about" class="scrollto">About</a>
						</li>
						<li>
							<a href="/#contact" class="scrollto">Contact</a>
						</li>
						<li>
							<a href="/blog/">Blog</a>
						</li>
					</ul>
				</div><!--End navbar-collapse -->

			</div><!--End container -->

		</div><!--End main-nav -->
