          <div class="clear"></div> 
        </div> 
      </div> 
      <div id="footer"> 
        <div class="copyright">Created since 2008 by Knut Ahlers - Content published under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/">CC-BY-NC-SA 3.0 license</a></div> 
      </div> 
    </div>
    </div>
    <div style="height:0px;display:none;visibility:hidden;"><a href="mailto:knuttr1@knut.me">knuttr2@knut.me</a></div> 
    <a href='https://alpha.app.net/luzifer' rel='me' style="display:none;">Knut auf App.net</a>
  </body> 
</html> 
