{{ partial "header.html" . }}

<!-- ==============================================
HEADER
=============================================== -->
<header id="home" class="color-bg light-typo padding-top-bottom">

  <div class="container">

    <h1 class="page-title">{{.Title}}</h1>

  </div><!--End container -->

</header><!--End header -->

<!-- ==============================================
SINGLE POST
=============================================== -->
<article class="post single-post">

  <div class="container">

    <div class="row">

      <div class="col-sm-10 col-sm-offset-1">

        {{ if .Params.media }}
        <div class="post-media">
          <img class="img-responsive" src="{{ .Params.media }}" alt=""/>
        </div>
        {{ end }}

        {{ if (.Date.Add (8760 | duration "hour")).Before now }}
        <div class="alert alert-warning" role="alert">
          <i class="fas fa-exclamation-triangle"></i> This article was written more than one year ago.
          The information in here might be inaccurate or outdated by now which means if
          this is an how-to or tutorial it might no longer work. Please remember that while
          reading the article.
        </div>
        {{ end }}

        <div class="post-content">

          {{.Content}}

          {{ if .Params.vgwort }}
          <img src="https://ssl-vg03.met.vgwort.de/na/{{ .Params.vgwort }}" width="1" height="1" alt="">
          {{ end }}

        </div>

        <footer class="post-footer">

          <div class="post-meta clearfix">

            <p class="post-date">{{ .Date.Format "Mon Jan 2, 2006" }}</p>

            <p class="post-share">
              Share:

              <span class="social-media" data-title="{{.Title}}">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}">
                  <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://news.ycombinator.com/submitlink?u={{.Permalink}}&t={{.Title}}">
                  <i class="fab fa-hacker-news-square"></i>
                </a>
                <a href="https://reddit.com/submit?url={{.Permalink}}&title={{.Title}}">
                  <i class="fab fa-reddit-square"></i>
                </a>
                <a href="https://twitter.com/share?url={{.Permalink}}&text={{.Title}}&via=luzifer">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </span>
            </p>

          </div>

          <nav class="posts-nav clearfix">
            <ul>
              {{ if .PrevInSection }}
              <li class="prev-post">
                <a href="{{.PrevInSection.Permalink}}">Previous Post</a>
                <p>{{.PrevInSection.Title}}</p>
              </li>
              {{ end }}
              {{ if .NextInSection }}
              <li class="next-post">
                <a href="{{.NextInSection.Permalink}}">Next Post</a>
                <p>{{.NextInSection.Title}}</p>
              </li>
              {{ end }}
            </ul>

            <a class="all-posts" href="/blog/" data-toggle="tooltip" title="Back to Blog"><i class="fa fa-th-list"></i></a>

          </nav>

        </footer>

      </div>

    </div><!--End row -->

  </div><!--End container -->



</article><!--End post -->

{{ partial "footer.html" . }}
