{{ partial "header.html" . }}

    <!-- ==============================================
    HEADER
    =============================================== -->
    <header id="home" class="jumbotron">

      <img src="/proxy/avatar.jpg" class="profileimg">

      <h1>Knut Ahlers</h1>
      <h2>Developer &amp; System Administrator</h2>

    </header><!--End header -->

    <!-- ==============================================
    INTERNET PROFILES
    =============================================== -->

    <section id="internet" class="white-bg padding-top-bottom">
      <div class="container">

        <h1 class="section-title">Find me online</h1>
        <p class="section-description">Of course I'm using social networks on a daily base. Here is where to find me:</p>

        <div class="row social-profiles">

          <a class="col-sm-4 item text-center" href="https://photos.ahlers.me">
            <div class="icon">
              <i class="fas fa-camera"></i>
            </div>
            <h3>Photos</h3>
          </a>

          <a class="col-sm-4 item text-center" href="https://knut.in/github">
            <div class="icon">
              <i class="fab fa-github"></i>
            </div>
            <h3>GitHub</h3>
          </a>

          <a class="col-sm-4 item text-center" href="https://knut.in/instagram">
            <div class="icon">
              <i class="fab fa-instagram"></i>
            </div>
            <h3>Instagram</h3>
          </a>

        </div>

        <div class="row social-profiles">

          <a class="col-sm-4 item text-center" href="https://knut.in/lastfm">
            <div class="icon">
              <i class="fab fa-lastfm"></i>
            </div>
            <h3>Last.fm</h3>
          </a>

          <a class="col-sm-4 item text-center" href="https://knut.in/linkedin">
            <div class="icon">
              <i class="fab fa-linkedin"></i>
            </div>
            <h3>LinkedIn</h3>
          </a>

          <a class="col-sm-4 item text-center" rel="author" href="https://knut.in/steam">
            <div class="icon">
              <i class="fab fa-steam"></i>
            </div>
            <h3>Steam</h3>
          </a>

        </div>
      </div>
    </section>

    <!-- ==============================================
    ABOUT
    =============================================== -->

    <section id="about" class="gray-bg padding-top-bottom">

      <div class="container">

        <h1 class="section-title">About me</h1>
        <p class="section-description">A brief history how I got where I am now.</p>

        <p>
          After I was born in 1987 I grew up in Weyhe, Germany having a quite normal childhood speaking in terms of someone using computers since the age of five. Growing up with computers soon I got interested in programming and luckily I got the chance to learn about Pascal, Delphi and later several other programming languages.
        </p>
        <p>
          Having experience in programming when finishing school I chose to get a training in that profession and soon I got a certificate of finishing my training for a "Fachinformatiker Anwendungsentwicklung" (developer). Since then I've worked for some quite different companies and got experience in several fields of computer science.
        </p>
        <p>
          In my spare time I'm still doing what I've done before I've made computer science my profession: I'm learning how to tame computers and let them do what I expect from them. Also I'm interested in digital photography mostly about lost places, animals or landscapes. Additional I'm an active member of the local volunteer fire department of Wedel, Germany where I'm currently living.
        </p>
        <!--<p>
          If you're interested in learning more about my career you can <a href="/static/cv.pdf">download my CV</a> and read about it in detail.
        </p>-->

      </div>
    </section>

    <!-- ==============================================
    CONTACT
    =============================================== -->
    <section id="contact" class="white-bg padding-top-bottom">

      <div class="container">

        <h1 class="section-title">Get in Touch</h1>
        <p class="section-description">You have something you want to tell me? Questions about my projects?</p>

        <div class="row">

          <div class="col-sm-3 text-center contact-item scrollimation fade-right">

            <a class="icon" href="https://twitter.com/luzifer" target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
            <h2>Mention me</h2>
            <p>@luzifer</p>

          </div>

          <div class="col-sm-3 text-center contact-item scrollimation fade-up">

            <a class="icon" href="mailto:knut@ahlers.me"><i class="fas fa-at fa-fw"></i></a>
            <h2>Send an email</h2>
            <p>knut@ahlers.me</p>

          </div>

          <div class="col-sm-3 text-center contact-item scrollimation fade-up">

            <a class="icon" href="https://telegram.me/knutahlers" title="Open Chat on Telegram"><i class="fab fa-telegram fa-fw"></i></a>
            <h2>Message me</h2>
            <p>
              +49&nbsp;1577&nbsp;5736614<br>
              <small style="color: #888;">
                Signal, SMS, Telegram,<br>
                Threema, WhatsApp
              </small>
            </p>

          </div>

          <div class="col-sm-3 text-center contact-item scrollimation fade-left">

            <a class="icon enlarge" href="/static/staticmap.png"><i class="fas fa-envelope fa-fw"></i></a>
            <h2>Write me a letter</h2>
            <p>Rissener Str. 39<br />22880 Wedel</p>

          </div>

        </div>

      </div>

    </section>

{{ partial "footer.html" . }}
