{{ partial "header.html" . }}

		<!-- ==============================================
		HEADER
		=============================================== -->
		<header id="home" class="jumbotron">

			<img src="https://www.gravatar.com/avatar/a3bf0e7acc39439f771eee680193bec3?s=175" class="profileimg">

			<h1>Knut Ahlers</h1>
			<h2>Developer &amp; System Administrator</h2>

		</header><!--End header -->

		<!-- ==============================================
		INTERNET PROFILES
		=============================================== -->

		<section id="internet" class="white-bg padding-top-bottom">
			<div class="container">

				<h1 class="section-title">Find me online</h1>
				<p class="section-description">Of course I'm using social networks on a daily base. Here is where to find me:</p>

				<div class="row social-profiles">

					<a class="col-sm-3 item text-center" href="http://knut.in/flickr">
						<div class="icon">
							<i class="fa fa-flickr"></i>
						</div>
						<h3>Flickr</h3>
					</a>

					<a class="col-sm-3 item text-center" href="http://knut.in/github">
						<div class="icon">
							<i class="fa fa-github"></i>
						</div>
						<h3>GitHub</h3>
					</a>

					<a class="col-sm-3 item text-center" rel="author" href="http://knut.in/+">
						<div class="icon">
							<i class="fa fa-google-plus"></i>
						</div>
						<h3>Google+</h3>
					</a>

					<a class="col-sm-3 item text-center" href="http://knut.in/instagram">
						<div class="icon">
							<i class="fa fa-instagram"></i>
						</div>
						<h3>Instagram</h3>
					</a>

				</div>

				<div class="row social-profiles">

					<a class="col-sm-3 item text-center" href="http://knut.in/lastfm">
						<div class="icon">
							<i class="fa fa-lastfm"></i>
						</div>
						<h3>Last.fm</h3>
					</a>

					<a class="col-sm-3 item text-center" href="http://knut.in/linkedin">
						<div class="icon">
							<i class="fa fa-linkedin"></i>
						</div>
						<h3>LinkedIn</h3>
					</a>

					<a class="col-sm-3 item text-center" rel="author" href="http://knut.in/steam">
						<div class="icon">
							<i class="fa fa-steam"></i>
						</div>
						<h3>Steam</h3>
					</a>

					<a class="col-sm-3 item text-center" href="http://knut.in/twitter">
						<div class="icon">
							<i class="fa fa-twitter"></i>
						</div>
						<h3>Twitter</h3>
					</a>

				</div>
			</div>
		</section>

		<!-- ==============================================
		PORTFOLIO
		=============================================== -->
		<section id="portfolio" class="gray-bg padding-top-bottom">

			<div class="container">

				<h1 class="section-title">My Projects</h1>
				<p class="section-description">I'm doing a broad range of different projects, some are presented here:</p>

				<!--==== Portfolio Filters ====-->

				<div id="filter-works">

					<ul>
						<li class="active">
							<a href="#" data-filter="*">All Categories</a>
						</li>
						<li>
							<a href="#" data-filter=".web">Web Projects</a>
						</li>
						<li>
							<a href="#" data-filter=".server">Server Projects</a>
						</li>
					</ul>

				</div><!--End portfolio filters -->

				<div class="projects-container scrollimation">

					<div class="row">

						{{ range first 6 (where .Data.Pages.ByDate.Reverse "Section" "project") }}
						<!-- ==============================================
						SINGLE PROJECT ITEM
						=============================================== -->

						<article class="col-md-4 col-sm-6 project-item {{.Params.project_tag}}">

							<!--==== Project Thumbnail & Title ====-->

							<div class="project-thumb">
								<a href="{{.Params.project_link}}" class="main-link">
									<img class="img-responsive img-center" src="/projects/{{.Params.screenshot_prefix}}_400x300.png" alt=""/>
									<h2 class="project-title">{{.Title}}</h2>
									<span class="overlay-mask"></span>
								</a>
								<a class="enlarge" href="/projects/{{.Params.screenshot_prefix}}_1920x1080.png" title="{{.Title}}"><i class="fa fa-expand fa-fw"></i></a>
								<a class="link" href="#"><i class="fa fa-eye fa-fw"></i></a>
							</div><!-- End Thumbnail -->

							<!--==== Project Preview Content ====-->

							<div class="preview-content" data-images="/projects/{{.Params.screenshot_prefix}}_645x430.png">
								<p class="preview-subtitle">{{.Params.subtitle}}</p>

								{{.Content}}

							</div><!-- End Project Preview -->

						</article>
						<!-- ==============================================
						END PROJECT ITEM
						=============================================== -->
						{{ end }}


					</div><!-- End Row -->

				</div><!-- End Projects Container -->

			</div><!-- End container -->

			<!--==== Project Preview Panel (DO NOT REMOVE)====-->

			<div id="preview-scroll"></div>

			<div id="project-preview">

				<div class="container">

					<div class="preview-header text-center">
						<a class="close-preview" href="#">&times;</a>
						<h1 class="preview-title"></h1>
						<p class="preview-subtitle"></p>
					</div>

					<div class="imac-frame">

						<img class="img-responsive img-center" src="assets/imac.png" alt=""/>
						<span class="loader"></span>
						<div class="imac-screen imac-slider flexslider"></div>

					</div>

					<div class="row">
						<div id="preview-content" class="col-sm-10 col-sm-offset-1"></div>
					</div>

					<div class="preview-footer text-center">
						<a class="close-preview" href="#">&times;</a>
					</div>


				</div><!--End container -->

			</div><!--End #project-preview panel-->

		</section>

		<!-- ==============================================
		ABOUT
		=============================================== -->

		<section id="about" class="white-bg padding-top-bottom">

			<div class="container">

				<h1 class="section-title">About me</h1>
				<p class="section-description">A brief history how I got where I am now.</p>

				<p>
					After I was born in 1987 I grew up in Weyhe, Germany having a quite normal childhood speaking in terms of someone using computers since the age of five. Growing up with computers soon I got interested in programming and luckily I got the chance to learn about Pascal, Delphi and later several other programming languages.
				</p>
				<p>
					Having experience in programming when finishing school I chose to get a training in that profession and soon I got a certificate of finishing my training for a "Fachinformatiker Anwendungsentwicklung" (developer). Since then I've worked for some quite different companies and got experience in several fields of computer science.
				</p>
				<p>
					In my spare time I'm still doing what I've done before I've made computer science my profession: I'm learning how to tame computers and let them do what I expect from them. Also I'm interested in digital photography mostly about lost places, animals or landscapes. Additional I'm an active member of the local volunteer fire department of Wedel, Germany where I'm currently living.
				</p>
				<p>
					If you're interested in learning more about my career you can <a href="/static/cv.pdf">download my CV</a> and read about it in detail.
				</p>

			</div>
		</section>

		<!-- ==============================================
		CONTACT
		=============================================== -->
		<section id="contact" class="gray-bg padding-top-bottom">

			<div class="container">

				<h1 class="section-title">Get in Touch</h1>
				<p class="section-description">You have something you want to tell me? Questions about my projects?</p>

				<div class="row">

					<div class="col-sm-3 text-center contact-item scrollimation fade-right">

						<a class="icon" href="https://twitter.com/luzifer" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
						<h2>Mention me</h2>
						<p>@luzifer</p>

					</div>

					<div class="col-sm-3 text-center contact-item scrollimation fade-up">

						<a class="icon" href="mailto:knut@luzifer.io"><i class="fa fa-at fa-fw"></i></a>
						<h2>Send an email</h2>
						<p>knut@luzifer.io</p>

					</div>

					<div class="col-sm-3 text-center contact-item scrollimation fade-up">

						<a class="icon" href="https://www.whatsapp.com/"><i class="fa fa-whatsapp fa-fw"></i></a>
						<h2>Message me</h2>
						<p>+49 157 757 366 14</p>

					</div>

					<div class="col-sm-3 text-center contact-item scrollimation fade-left">

						<a class="icon enlarge" href="/static/staticmap.png"><i class="fa fa-envelope fa-fw"></i></a>
						<h2>Write me a letter</h2>
						<p>Rissener Str. 39<br />22880 Wedel</p>

					</div>

				</div>

			</div>

		</section>

{{ partial "footer.html" . }}
