{{ partial "header.html" . }}

<div class="post"> 
  <div class="posttitle"> 
    <h1><a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title }}">{{ .Title }}</a></h1> 
  </div> 
  <div class="postcontent"> 
        {{ .Content }}
  </div> 
  <div class="postmeta">
    {{ if isset .Params "vgwort" }}
      <img src="https://ssl-vg03.met.vgwort.de/na/{{ .Params.vgwort }}" width="1" height="1" alt="">
    {{ end }}
    {{ if eq .Type "post" }}
    <a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title }}">
      <span class="published">{{ dateFormat "January 02, 2006" .Date }}</span>
    </a>
    <div style="float:right;">
  	  <a class="FlattrButton" style="display:none;"
          title="{{ .Title }}"
          data-flattr-uid="luzifer"
          data-flattr-button="compact"
          href="{{ .Permalink }}">
        {{ .Summary }}
      </a>
    </div>
    <div style="float:right;">
      <div class="g-plusone" data-size="medium" data-href="{{ .Permalink }}"></div>
    </div>
    {{ end }}
  </div> 
</div>

{{ if eq .Type "post" }}
<div class="post">

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://knutsblog.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })(); */
  var disqus_loaded = false;
  function loadDisqus(){
    if(disqus_loaded) {
      return true;
    }
    var pxleft = $(document).height() - $(window).scrollTop() - $(window).height();
    if(pxleft < 1000) {
      disqus_loaded = true;
      var dsq = $('<script />');
      dsq.attr({
        'type' : 'text/javascript',
        'async' : true,
        'src' : '//knutsblog.disqus.com/embed.js'
      });
      $('head').append(dsq);
    }
  }
  $(function() {
    $(document).scroll(loadDisqus);
    loadDisqus();
  });
</script>

</div>
{{ end }}

{{ partial "footer.html" . }}
